*{
    transition: none !important;

}



html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.jumbotron {
    background-image: url(../brown_3.jpg);
    background-position: center center;
    background-size: cover;
    margin-top: 6vw;


}

.jumbotron h1 {
    margin-top: 8rem;
    margin-bottom: 4rem;
}

h2 {
    text-align: center;
}

.icons {
    font-size: 3em;
}



.info {
    display: flex;
    justify-content: space-between;
}


// .my-progress{
//     width: 100%;
//     padding: 10px;
//     background-color: white;
//     transition: 20s;
// }

// .progress-bar{
//     transition: none;
// }


// .bar {
//     width: 0%;
//     height: 1.5rem;
//    background-color: #F0c484;
//    margin-bottom: 10px;
//    font-weight: 600;

// }

// .myLabel{
//     background-color: #695245;
//     margin-bottom: 10px;
//     height: 1.5rem;
//     font-weight: 600;
//     color: white;

// }

div.col-3{
    padding:10px 0;
}

div.my-progress.col-9{
    padding:10px 0;
}

